<div class="rbt-banner-area rbt-banner-1">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 pb--120 pt--70">
                <div class="content">
                    <div class="inner">
                        <div class="rbt-new-badge rbt-new-badge-one">
                            <span class="rbt-new-badge-icon">🏆</span> The Leader in Online Learning
                        </div>

                        <h1 class="title">
                            Build The Skills <br> To Drive Your Career.
                        </h1>
                        <p class="description">
                            Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.
                            <strong>Velit
                                officia consequat.</strong>
                        </p>
                        <div class="slider-btn">
                            <a class="rbt-btn btn-gradient hover-icon-reverse" href="#">
                                <span class="icon-reverse-wrapper">
                                    <span class="btn-text">View Course</span>
                                <span class="btn-icon"><i class="feather-arrow-right"></i></span>
                                <span class="btn-icon"><i class="feather-arrow-right"></i></span>
                                </span>
                            </a>
                        </div>
                    </div>
                    <div class="shape-wrapper" id="scene">
                        <img src="assets/images/banner/banner-01.png" alt="Hero Image">
                        <div class="hero-bg-shape-1 layer" data-depth="0.4">
                            <img src="assets/images/shape/shape-01.png" alt="Hero Image Background Shape">
                        </div>
                        <div class="hero-bg-shape-2 layer" data-depth="0.4">
                            <img src="assets/images/shape/shape-02.png" alt="Hero Image Background Shape">
                        </div>
                    </div>

                    <div class="banner-card pb--60 mb--50 swiper rbt-dot-bottom-center banner-swiper-active">
                        <div class="swiper-wrapper">

                            <!-- Start Single Card  -->
                            <div class="swiper-slide">
                                <div class="rbt-card variation-01 rbt-hover">
                                    <div class="rbt-card-img">
                                        <a href="course-details.html">
                                            <img src="assets/images/course/course-01.jpg" alt="Card image">
                                            <div class="rbt-badge-3 bg-white">
                                                <span>-40%</span>
                                                <span>Off</span>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="rbt-card-body">
                                        <ul class="rbt-meta">
                                            <li><i class="feather-book"></i>12 Lessons</li>
                                            <li><i class="feather-users"></i>50 Students</li>
                                        </ul>
                                        <h4 class="rbt-card-title"><a href="course-details.html">React</a>
                                        </h4>
                                        <p class="rbt-card-text">It is a long established fact that a reader
                                            will be distracted.</p>
                                        <div class="rbt-review">
                                            <div class="rating">
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                            </div>
                                            <span class="rating-count"> (15 Reviews)</span>
                                        </div>
                                        <div class="rbt-card-bottom">
                                            <div class="rbt-price">
                                                <span class="current-price">$70</span>
                                                <span class="off-price">$120</span>
                                            </div>
                                            <a class="rbt-btn-link" href="course-details.html">Learn More<i
                                                    class="feather-arrow-right"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- End Single Card  -->

                            <!-- Start Single Card  -->
                            <div class="swiper-slide">
                                <div class="rbt-card variation-01 rbt-hover">
                                    <div class="rbt-card-img">
                                        <a href="course-details.html">
                                            <img src="assets/images/course/classic-lms-01.jpg" alt="Card image">
                                            <div class="rbt-badge-3 bg-white">
                                                <span>-40%</span>
                                                <span>Off</span>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="rbt-card-body">
                                        <ul class="rbt-meta">
                                            <li><i class="feather-book"></i>12 Lessons</li>
                                            <li><i class="feather-users"></i>50 Students</li>
                                        </ul>
                                        <h4 class="rbt-card-title"><a href="course-details.html">React</a>
                                        </h4>
                                        <p class="rbt-card-text">It is a long established fact that a reader
                                            will be distracted.</p>
                                        <div class="rbt-review">
                                            <div class="rating">
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                            </div>
                                            <span class="rating-count"> (15 Reviews)</span>
                                        </div>
                                        <div class="rbt-card-bottom">
                                            <div class="rbt-price">
                                                <span class="current-price">$70</span>
                                                <span class="off-price">$120</span>
                                            </div>
                                            <a class="rbt-btn-link" href="course-details.html">Learn More<i
                                                    class="feather-arrow-right"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- End Single Card  -->

                            <!-- Start Single Card  -->
                            <div class="swiper-slide">
                                <div class="rbt-card variation-01 rbt-hover">
                                    <div class="rbt-card-img">
                                        <a href="course-details.html">
                                            <img src="assets/images/course/course-online-02.jpg" alt="Card image">
                                            <div class="rbt-badge-3 bg-white">
                                                <span>-40%</span>
                                                <span>Off</span>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="rbt-card-body">
                                        <ul class="rbt-meta">
                                            <li><i class="feather-book"></i>12 Lessons</li>
                                            <li><i class="feather-users"></i>50 Students</li>
                                        </ul>
                                        <h4 class="rbt-card-title"><a href="course-details.html">React</a>
                                        </h4>
                                        <p class="rbt-card-text">It is a long established fact that a reader
                                            will be distracted.</p>
                                        <div class="rbt-review">
                                            <div class="rating">
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                            </div>
                                            <span class="rating-count"> (15 Reviews)</span>
                                        </div>
                                        <div class="rbt-card-bottom">
                                            <div class="rbt-price">
                                                <span class="current-price">$70</span>
                                                <span class="off-price">$120</span>
                                            </div>
                                            <a class="rbt-btn-link" href="course-details.html">Learn More<i
                                                    class="feather-arrow-right"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- End Single Card  -->

                        </div>
                        <div class="rbt-swiper-pagination"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>